
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section
  {
  display: block;
}

body {
  line-height: 1;
}

ol,ul {
  list-style: none;
}

blockquote,q {
  quotes: none;
}

blockquote:before,blockquote:after,q:before,q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  USER STYLES
*/
button {
  margin: 0;
}

a:focus {
  outline: none;
}

/*
  UTIL
*/
.no-select {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.link {
  text-decoration: underline;
  cursor: pointer;
}

.right {
  float: right;
}

.loading {
  min-width: 16px;
  min-height: 16px;
  background-image: url("../img/ajax-loader.gif");
  background-repeat: no-repeat;
}
