/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16-Jun-2014, 20:15:57
    Author     : samarakoon
*/

.fill { 
    min-height: 100%;
    height: 100%;
}

html,body,.container
{
    height:100%;
}

html, body {
    overflow: hidden;
}

body {
    /*padding-top: 60px;*/ 
    line-height: 1;
}

.sidebaritem.content{ 
    white-space: nowrap;
}

.rule-editor-heading-title, rule-editor-heading-buttons{
    display:inline;
}

.rule-editor-heading-buttons{
    top:-7px;
}

.rule-editor-panel-body{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.rule-editor-danger{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.loadingModal {
    float: inside;
    position:absolute;
    height:100%;
    width:100%;
    z-index: 10000;
    background: rgba( 255, 255, 255, .8 ) 
        url('../img/ajax-loader-big.gif') 
        50% 50% 
        no-repeat;
}


#all-combinations { 
    padding: 10px 10px 10px 48px;
    background: #000000
        url(../img/globe.png)
        8px 5px 
        no-repeat;
    color: #ffffff;
}

#excel-download { 
    padding: 10px 10px 10px 48px;
    background: #1d7044
        url(../img/excel.png)
        8px 5px
        no-repeat;
    color: #ffffff;
}

#coverage-graph { 
    padding: 10px 10px 10px 48px;
    background: #911313
        url(../img/graph.png)
        6px 2px
        no-repeat;
    color: #ffffff;
}

.tree-element {
    background: #006480;
    color: #ffffff;
}

.tuple-cons-cell{
    width:1%;
    vertical-align: middle;
}

.tuple-cons-cell-value{
    border:0;
    color:#f6931f;
    font-weight:bold;
}

.hover-buttons-parent {
    position: relative;
    float:left;
    margin:5px;
}

.hover-buttons-parent:hover > input
{
    display: block;
}

.hover-buttons-parent > input {
    float: right;
    position:absolute;
    display:none;
    top:0;
    right: 0;
    padding: 0px;
}

.btn-hover-delete-project {
    margin: 10px;
    height: 25px;
    width: 25px;
    font-size: 10px;
}

.btn-hover-delete-story {
    margin: 15px;
    height: 20px;
    width: 20px;
    font-size: 10px;
}

#alert_placeholder_outer{	
  position: relative;	
  width: 50%;	
  height: 1px;	
  left:50%;
  /*margin: 20px auto;*/	
  /*border: 2px solid #c00;*/
}

#alert_placeholder{	
  position: absolute;	
  height: 1px;	
  left: -50%;	
  top: 50px;	
  width:100%;
  /*background-color: #00c;*/
}