/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 26, 2014, 1:44:23 PM
    Author     : tkajavathanan
*/

@media (min-width: 768px) and (max-width: 979px) {
  .hidden-desktop {
    display: inherit !important;
  }
  .visible-desktop {
    display: none !important ;
  }
  .visible-tablet {
    display: inherit !important;
  }
  .hidden-tablet {
    display: none !important;
  }
}
@media (max-width: 767px) {
  .hidden-desktop {
    display: inherit !important;
  }
  .visible-desktop {
    display: none !important;
  }
  .visible-phone {
    display: inherit !important;
  }
  .hidden-phone {
    display: none !important;
  }
}
@media (max-width: 767px) {

}
@media (max-width: 480px) {

}
@media (min-width: 768px) and (max-width: 979px) {

}
@media (min-width: 1200px) {
  .responsiveFont{
        font-size: 100%;
    }
 
}
@media (max-width: 979px) {
 .responsiveFont{
        font-size: 70%;
        
    }
    
}
@media (min-width: 980px) {
  .responsiveFont{
        font-size: 100%;
    }
 
    
}

.well2{
    width: 100%;
    min-height:20px;
    padding:19px;
    margin-bottom:20px;
    background-color:#f5f5f5;
    border:1px solid #e3e3e3;
    border-radius:4px;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow:inset 0 1px 1px rgba(0,0,0,.05)
}
 ul.rule-block1 { list-style-type: none; margin: 0; padding: 0; float: left; margin-right: 10px; margin-left: 0px; padding: 5px; width:1%; min-height: 40px;}