/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 25, 2014, 10:33:28 AM
    Author     : asandakelum
*/

ul.rule-editor, ul.rule-block {
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    float: left; 
    margin-right: 10px;
    margin-left: 0px; 
    /*background: #eee;*/
    padding: 5px; 
    width:100%;
    min-height: 50px;
}

ul.rule-block{ 
    padding-left:25px;
}

li.rule-element, li.rule-constraints-element{
    margin: 0px; 
    padding: 5px; 
    float: left; 
}

li.rule-element {  list-style-type:none; margin:1px 3px 1px 3px; padding:5px 5px 5px 5px; position:relative}
li.rule-constraints-element { margin: 3px; padding: 5px;   float: left; text-align: center;}
ul.rule-constraints-block { list-style-type: none; margin: 0; padding: 0; width: 100%;}
.rulebtns{position: absolute;right: 0px;top: 0px;margin: 5px 10px;}

li.rule-element::before,li.rule-element::after {
    content:'';
    left:-20px;
    position:absolute;
    right:auto
}

li.rule-element::before {
    border-left:1px solid #999;
    bottom:50px;
    height:125%;
    top:0;
    width:1px
}

li.rule-element::after {
    border-top:1px solid #999;
    height:20px;
    top:20px;
    width:20px
}


li.outer-rule-element {list-style-type:none; margin:0px 3px 0px 3px; padding:0px 0px 0px 0px; position:relative;width:100% ;height: auto; background: #eed}
li.outer-rule-element::before{
    content:'';
    left:-19px;
    position:absolute;
    right:auto;              
}

li.outer-rule-element::before {
    border-left:1px solid #999;
    bottom:50px;
    height:102%;
    top:0;
    width:1px
}

li.outer-rule-element::after {
    border-top:1px solid #999;
    height:20px;
    top:20px;
    width:0px
}
li.outer-rule-element:last-child::before{
    height:0px
}
ul li.outer-rule-element:last-child::before{
    height:0px;
}    



li.rule-element:last-child::before {
    height:20px
}
#dataTree>li.rule-element::before{
    height:0px
}
#dataTree>li.rule-element::after{
    border-top:0px solid #999;
}
li.notdraggable-rule-element {
    padding: 5px; 
    float: left;
    list-style-type:none; 
    margin:3px 3px 3px 3px;
    position:relative;

}
li.last::before{
    border-left:1px solid #999;
    bottom:50px;
    height:20px;
    top:0;
    width:1px
}
li.last1::before{
    border-left:1px solid #999;
    bottom:50px;
    height:0px;
    top:0;
    width:1px
}

li.tupleRuleBlock{
    border-style: dotted;
    border-width: 1px;
}


/*.tupleBlocksHolder { list-style-type: none; margin: 0; padding: 0; width: 100%; }
#tupleBlocksHolder li { margin: 0 5px 5px 5px; padding: 5px; font-size: 1.2em; height: 1.5em; }*/
/*html>body #tupleBlocksHolder li { height: 1.5em; line-height: 1.2em; }*/
.ui-state-highlight { height: 3em;  }